# requirements.txt

# Telegram Bot
python-telegram-bot[ext]

# Web framework
fastapi
uvicorn[standard]
gunicorn

# Database
sqlalchemy[asyncio]
psycopg[binary]

# Configuration
python-dotenv

# AI
google-generativeai

# SQLAlchemy async helper
greenlet
